@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

/* GENERAL */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr 10fr;
  background-color: gray;
}

/* SIDEBAR */

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / -1;
  color: white;
}

.logo {
  margin: 10px;
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 5rem;
  margin-right: 10px;
}

.navigation {
  font-size: 2rem;
  font-weight: 400;
  padding: 30px 20px;
  display: grid;
  gap: 10px;
}

.navigation a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation a:hover {
  color: #ddd;
}

.navigation a:active {
  text-shadow: 1px 1px 2px #ddd;
}

/* HEADER */

.header {
  padding: 10px 40px 5px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #fff;
}

.header button:hover {
  color: #444;
  scale: 110%;
}

.header form {
  display: flex;
  align-items: center;
}

.header input {
  color: #333;
  font-size: 1.6rem;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 30px;
  flex-grow: 1;
  margin-right: 10%;
}

.header input:focus {
  outline: 1px solid #ddd;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.account img {
  height: 60px;
  border-radius: 50%;
}

.account p {
  font-size: 2rem;
  font-weight: 600;
}

/* WELCOME */

.welcome {
  padding: 0px 80px 15px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-welcome {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-welcome img {
  height: 100px;
  border-radius: 100px;
}

.user-welcome img:hover {
  outline: 3px solid #ddd;
  border-radius: 100px;
}

.buttons-welcome {
  display: flex;
  gap: 20px;
}

.buttons-welcome button {
  background-color: #1992d4;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 35px;
  width: 100px;
  color: #fff;
  font-weight: 600;
}

/* MAIN */

.main {
  padding-top: 20px;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main h3 {
  padding-left: 20px;
  padding-bottom: 10px;
  align-self: end;
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1 / -1;
}

.tile-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
}

.tile {
  background-color: white;
  box-shadow: 2px 2px 5px #999;
  border-radius: 10px;
  border-left: 10px solid #f0b429;
  margin: 0px 0px 15px 15px;
}

.left {
  display: grid;
  grid-template-rows: 50px 1fr 50px 1fr;
}
